Clients/Tablet/GNE/app/src/main/java/com/example/blackout/gne/General/CPoint.java
Clients/Tablet/GNE/app/src/main/java/com/example/blackout/gne/General/Utils.java
Clients/Tablet/GNE/app/src/main/java/com/example/blackout/gne/Taxi/TaxiManager.java
Clients/Tablet/GNE/app/src/main/java/com/example/blackout/gne/Taxi/TaxiRequest.java
